/* ヘッダーのCSS */

.top-page-header {
  background-color: #BBC4E4;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100px;
}

.left-header {
  color: white;
  padding-left: 30px;
}

.right-header {
  color: grey;
  display: flex;
  align-items: center;
  padding-right: 30px;
}

.search-nav {
  display: flex;
  align-items: center;
}

.search-area{
  width: 200px;
  height: 30px;
  border: none;
  border-radius: 5px;
}


.search-mark{
  width: 20px;
  height: 30px;
  margin-left: 10px;
}

.new-btn {
  background-color: white;
  width: 100px;
  height: 30px;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  color: gray;
  margin-left: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
