<header class='top-page-header'>
  <div class='left-header'>
    <%= link_to 'STAMP DATABASE', root_path, class: "header-title"%>
  </div>
  <div class='right-header'>
    <div class='search-nav'>
        <input type="text" placeholder="キーワードで検索" class='search-area'>
        <%= image_tag "searchmark.svg", class: 'search-mark'%>
    </div>
      <%= link_to '新規登録', new_stamp_path, class: 'new-btn' %>
  </div>
</header>